<div class="user-details">
  <h1>What is AQuriousMind?</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Read</h2>
    <img src="comics.png" height="150"/>
    <p><a href="https://blog.aquriousmind.com/">Science comics</a> for the qurious mind.</a></p>
  </div>
  <div class="tech">
    <h2>Do</h2>
    <img src="experiment.jpg" height="150"/>
    <p><a href="https://blog.aquriousmind.com/">Hands-on experiments</a> to do at home.</p>
  </div>
  <div class="tech">
    <h2>Subscribe</h2>
    <img src="subscribe.png" height="150"/>
    <p>Subscribe to our weekly newsletter!</p>
  </div>
</div>
