<div class="user-details">
  <h1>What is AQuriousMind?</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Read</h2>
    <img src="comics.png"/>
    <p><a href="https://blog.aquriousmind.com/">Science comics</a>for the qurious mind.</a></p>
  </div>
  <div class="tech">
    <h2>Do</h2>
    <img src="experiments.png"/>
    <p><a href="https://blog.aquriousmind.com/">Hands-on experiments</a>that you can do at home.</p>
  </div>
  <div class="tech">
    <h2>Subscribe</h2>
    <img src="subscribe.png"/>
    <p>Subscribe to our newsletter, and be ready to do the next experiment!</p>
  </div>
</div>
